.text {
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto", serif;
}

.subtitle {
  @apply font-semibold text-simple my-2
}

.infoWrapper {
  width: 100%;
  min-width: max-content;
}
